apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    uid: VictoriaMetrics
    access: proxy
    url: http://victoriametrics:8428
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 30s
      httpMethod: POST
    version: 1